.comment-form-overlay {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.comment-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.comment-form textarea {
   width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 14px;
  resize: vertical;
}

.comment-form .error {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 10px;
}

.comment-form button {
   margin-top: 15px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #e91e24;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
