form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  /* margin: 0 auto; */
  padding: 100px 100px;
  border-radius: 10px;
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); */

}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  min-height: 100vh;
  margin: 0;
} */

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.3s ease;
}

input:focus {
  border-color: #e60023;
  outline: none;
}

button {
  padding: 12px;
  background-color: #e60023;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cc001f;
}

p {
  color: #e60023;
  font-size: 13px;
  margin: 0;
}


.modal-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 20px;

}
