.delete-modal-container {
  background-color: #f8b6b6;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.delete-modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.yes-button {
  background-color: green;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.no-button {
  background-color: red;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
