.login-page-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 40px;
  min-height: 100vh;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}


.login-form-wrapper {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  margin-right: auto; 
}


.form-inner {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.3s ease;
}

input:focus {
  border-color: #e60023;
  outline: none;
}

button {
  padding: 12px;
  background-color: #e60023;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cc001f;
}

.demo-login-button {
  background-color: #000000;
}

p {
  color: #e60023;
  font-size: 13px;
  margin: 0;
}

.signin-image {
  width: 600px;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}